/* You can add global styles to this file, and also import other style files */
html {
    // background-color: lighten($color: blue, $amount: 40);
}

.ui-button-rounded:hover
{
    animation-name: example;
    animation-duration: 2.5s;
}

@keyframes buttonTransition {
    0%   {background-color: solid blue;}
    100% {background-color: green;}
}