/* You can add global styles to this file, and also import other style files */
html {
    // background-color: lighten($color: blue, $amount: 40);
}

.ui-button-rounded:hover
{
    animation-name: example;
    animation-duration: 4s;
    background-color: red;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}

    
}