.welcomeScreen {
    position: relative;
    width: 50%;
    height: 450px;
    border: 1px solid black;
    border-radius: 5px;
    top: 120px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.Banner {
    position: relative;
    width: 80%;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    top: 60px;
    text-align: center;
    font-size: 50px;
    margin: auto;
}

.dropDownBoxContainer{
    position: relative;
    width: 100%;
    height: 90px;
    border: 1px solid black;
}

.check{
    margin: 10px;
    display: inline-block;
}