.welcomeScreen {
    position: relative;
    width: 50%;
    height: 450px;
    border: 1px solid black;
    border-radius: 5px;
    top: 120px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}