::ng-deep body .ui-carousel .ui-carousel-header {
background-color:rgba(216, 7, 7, 0.233);
}
::ng-deep .ui-dropdown .ui-dropdown-label {
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    width: 100%;
    padding-right: 2.5em;
}
body {
    background-color: rgba(247, 247, 247, 0.623);  
     
}

.postFeedWrapper{
    position: relative;
}

.commentWrapper{
    max-height: 500px;
    overflow-y: scroll;
    position: relative;
}
.textBox{
    position: relative;
    width: 63%;
    margin-left:13.5%;
    overflow:hidden; 
}
.profilePic{
    position: relative;
    margin-left: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
}

.nameAndTime{
    position: relative;
    bottom: 40px;
    left: 15%;
    height: 50px;
    width: 65%;
    overflow:hidden;
}

.ellipse{
    position: relative;
    bottom: 90px;
    left: 85%;
    height: 50px;
    width: 12%;
}

.postBody {
    position: relative;
    bottom: 80px;
    height: 90px;
    margin:auto;
    width: 94%;
    overflow:hidden; 
}

.like {
    position: relative;
    bottom: 73px;
    height: 30px;
    width: 44%;
    margin-left: 10px;
    overflow:hidden; 
    display: inline-flex;
}

.comment {
    position: relative;
    height: 30px;
    width: 15%;
    margin-left: 40%;
    overflow:hidden; 
    z-index: 1;
}

.content{
    background-color:gray;
    
    position: relative;
}
// the colors below are all place holders it gives me a visual


.topBar {
    border: solid black 1px;
    background-color: white;
    top: 0%;
    right: 1px;
    width: 100%;
    height: 12%;
    position: fixed;
    overflow: hidden;
    z-index: 4;
    .imageContainer{
        left:80%;
        width: 8%;
        height: 100%;
        position: relative;
        .avatar {
            margin-top:5%;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            left:80%;

            position: relative;
            }
            
    }
    .nameLabel {
        bottom: 92%;
        left: 92%;
        font-size: 25px;
        position: fixed;
    }

   
      
}

.navToLanding {
    height: 5%;
    width: 10%;
    top: 3%;
    left: 3%;
    z-index: 4;
    position: fixed;
}

.sidePanel {
    height: 100%;
    width: 15%;
    top: 80px;
    left: 3%;
    position: fixed;
    overflow-y: scroll;
}
.carouselPostWrapper {
    height: 50%;
    width: 50%;
    left: 28%;
    top: 12%;
    margin-left: 20px;
    z-index: 1;
    position: absolute;
}
.carousel {
    height: 27%;
    width: 50%;
    left: 28%;
    top: 30%;
    margin-left: 20px;
    z-index: 1;
    position: absolute;
}

// custom class applied to imagas to ensure that they appear the size we want
.crop {
    width: 135px;
    height: 100px;
}

.addPostContainer {
    width: 51.5%;
    height: 16%;
    top: 12%;
    left: 28%;
    margin-left: 12px;
    position: fixed;
    z-index: 5;
}

.addPost {
    width: 100%;
    height: 100%;
}

.addComment {
    width: 100%;
    height: 100%;
}

.mainBody {
    width: 80%;
    height: 100%;
    top: 62%;
    left: 18%;
    margin-left: 10px;
    position: absolute;
}





// the commented code below will be used at some point the redesign called for me to start fresh




// .carousel {
//     background-color: blue;
//     width: 100%;
//     height: 40%;
//     top: 10px;
//     margin-top: 40px;
//     position: relative;
// }

// .addPost {
//     width: 60%;
//     height: 250px;
//     top: 40px;
//     border: solid red 2px;
//     position: relative;
//     margin-right: auto;
//     margin-left: auto;
// }

// .feedContainer {
//     border: solid red 2px;
//     width: 100%;
    
//     height: 1000px;
//     top: 50px;
//     position: relative;
//     margin-top: 20px;
//     margin-bottom: 20px;
//     overflow-y: scroll;
// }

// .feed {
//     background-color: red;
//     width:50%;
//     height: 200px;
//     top: 40px;
//     position: relative;
//     margin-right: auto;
//     margin-le    ft: auto;
// }

// .animateFeed {
// }

