.topBar {
    border: solid black 1px;
    background-color: white;
    top: 0%;
    right: 1px;
    width: 100%;
    height: 12%;
    position: fixed;
    overflow: hidden;
    z-index: 4;
    .imageContainer{
        left:80%;
        width: 8%;
        height: 100%;
        position: relative;
        .avatar {
            margin-top:5%;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            left:80%;

            position: relative;
            }
            
    }
    .nameLabel {
        bottom: 92%;
        left: 92%;
        font-size: 25px;
        position: fixed;
    }

   
      
}

.helpCenterTitle{
position: absolute;
left: 0%;
right: 0%;
bottom:0%;
background-color: blue;
z-index: 4;
box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.161);
}

.mainLabel{
position: fixed;
width:100%;
height: 20%;
top: 10%;
bottom: 0%;
background-color: yellow;
}

.inlineDisplay{
right: 1px;
position: fixed;
background-color: black;
height: 100%;
width: 100%;
top: 10%;
}

.optionBoxes{
display: inline-block;
margin-left: 230px;
position: relative;
top: 28.61%;
height: 50px;
width: 90px;
text-align: center;
background-color: green;
}


