.topBar {
    border: solid black 1px;
    background-color: white;
    top: 0%;
    right: 1px;
    width: 100%;
    height: 12%;
    position: fixed;
    overflow: hidden;
    z-index: 4;
    .imageContainer{
        left:80%;
        width: 8%;
        height: 100%;
        position: relative;
        .avatar {
            margin-top:5%;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            left:80%;

            position: relative;
            }
            
    }
    .nameLabel {
        bottom: 92%;
        left: 92%;
        font-size: 25px;
        position: fixed;
    }

   
      
}



.mainLabel{
position: fixed;
width:100%;
height: 20%;
top: 10%;
bottom: 0%;
background-color: rgb(238, 237, 237);

}

.mainTitle{
position: fixed;
width:20%;
height: 18%;
top: 12%;
bottom: 0%;
}

.searchBar{
    position: fixed;
    width:20%;
    height: 18%;
    left:78%;
    top: 12%;
    bottom: 0%;
    }

.inlineDisplay{
right: 1px;
position: fixed;
height: 100%;
width: 100%;
top: 10%;
background-color: rgb(226, 226, 226);

}

.optionBoxes{
display: inline-block;
margin-left: 230px;
margin-top: 50px;
position: relative;
top: 28.61%;
height: 100px;
width: 100px;
text-align: center;
background-color: white;
}


