<div class="mainBanner">
    <div class="bannerLogoContainer">
        <h4 class="logoText">
            <a href="/">AGORA</a>
        </h4>
    </div>
    <div class="bannerButtonContainer">
        <button pButton type="button" label="Login" onclick="location.href = '/login'" class="bannerButton ui-button-rounded"></button>
        <button pButton type="button" label="Sign up" onclick="location.href = '/signUp'" class="bannerButtonFull ui-button-rounded"></button>
    </div>
</div>

<div class="content">
    <div>
        <h1 class="contentTitleText" style="margin-top: 20px">
          MORE THAN JUST <br>
          A SOCIAL PLATFORM
        </h1>
        <h4 class="contextText">
          Build community and connect with students by <br>
          expressing ideas, staying up to date, sharing <br>
          news, and distributing academic resources. 
        </h4>
    </div>
</div>
