$primary-color: #E14C4C;
$primary-color-hover: #D23838;
$accent-color: #282828;
$border-color: #A9A9A9;
$main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.mainBanner {
    width: 100%;
    height: 65px;
    position: absolute;
    border-bottom: 1px solid $border-color;
    overflow: hidden; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: white;
}

.bannerButtonContainer {
    margin-right: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.bannerButtonContainer button {
    margin-top: 13px;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}

.bannerButton {
    width: 100px;
    height: 30px !important;
    color: $accent-color !important;
    background: none !important;
    border-style: none !important;
}

.bannerButton:hover {
    text-decoration: underline !important;
}

.bannerButtonFull {
    border-radius: 15px !important;
    width: 150px;
    height: 30px !important;
    background: $primary-color !important;
    border-style: none !important;
}

.bannerButtonFull:hover {
    background: $primary-color-hover !important;
}

.logoText a {
    font-family: $main-font;
    color: $accent-color;
    font-weight: 600;
    margin-left: 20px;
}

.content {

}

.contentTitleText {
    font-family: $main-font;
    font-size: 48px;
    color: $accent-color;
    padding: 0px;
    margin-left: 20px;
}

.contextText {
    font-family: $main-font;
    font-size: 22px;
    font-weight: 300;
    padding: 0px;
    margin-left: 20px;
    color: #808080;
    margin-top: 0px;
}
