.mainBanner {
    width: 100%;
    height: 12%;
    background-color:rgb(25, 0, 255);
    position: absolute;

    
    #cornerImage {
       // border: 1px solid black;
        Trintiy-Logo-container: url(/assets/Trintiy_Banner.jpg);
        background-size: 100px 30px;
        background-repeat: no-repeat;
        
      }
    
}

hr {
    width: 100%;
    height: 25px;
    border-color: black;
    margin-top: 75px;
} 
//causes strange line to appear


.login {
    position: absolute;
    margin-top: 30px;
    right: 80px;
}

.loginInteract {
    position: relative;
    width: 60%;
    height: 350px;
    border: 1px solid blue;
    border-radius: 30px;
    top: 120px;
    margin: auto;
    
    
}

input {
    margin: auto;
    display: block;

}