.mainBanner {
    width: 100%;
    height: 100px;
    position: absolute;
}

hr {
    width: 100%;
    border-color: black;
    margin-top: 100px;
}


.login {
    position: absolute;
    margin-top: 30px;
    right: 80px;
}

.loginInteract {
    position: relative;
    width: 50%;
    height: 450px;
    border: 1px solid black;
    border-radius: 5px;
    top: 120px;
    margin: auto;
}

input {
    margin: auto;
    display: block;

}