<div class="authContainer">
    <div class = "authText">
        <div class="textContainer">
            <div class="inner">
                <h1 class="contentTitleText" style="margin-top: 20px">
                    MORE THAN JUST <br>
                    A SOCIAL PLATFORM
                </h1>
                <h4 class="contextText">
                    Build community and connect with students by <br>
                    expressing ideas, staying up to date, sharing <br>
                    news, and distributing academic resources. 
                </h4>
                <br>
                <br>
                <br>
                <div style="width: 100%; display: table; margin 0 auto">
                    <div style="margin: 0 auto; width: 60px; height: 60px; border: 1px solid white; border-radius: 30px; text-align: center; display: flex; align-items: center">
                        <h2 class="logoText">AGORA</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "loginInteract">
        <div class="middle">
            <div class="inner">
                <form *ngIf="isLoginSection" [formGroup]="loginForm">
                    <h2 class="formTitle">Login</h2>
                    <br>
                    <input formControlName="email" type="text"  placeholder="Email" required pInputText /> 
                    <br>
                    <input formControlName="password" type="text" placeholder="Password" required pInputText/>
                    <br>
                    <a (click)="forgotPassword()" class="formLinkAlt">Forgot password?</a>
                    <br>
                    <br>
                    <button pButton type="button" [disabled]="loginForm.invalid" label="Login" (click)="verifyLogin()" class="outlineButton ui-button-rounded"></button>
                    <br>
                    <button pButton type="button" label="Sign up" (click)="signUp()" class="fullButton ui-button-rounded"></button>
                </form>

                <form *ngIf="isResetPassword" [formGroup]="forgotPasswordForm">
                    <h2 class="formTitle">Password reset</h2>
                    <p class="formText">
                        Forgot your password? We have you covered! Enter your
                        email and we’ll send you a link to reset it.</p>
                    <br>
                    <input formControlName="email" type="text"  placeholder="Email" pInputText /> 
                    <br>
                    <button pButton type="button" label="Reset password" class="fullButton ui-button-rounded" (click)="forgotPasswordEmail()"></button>
                    <br>
                    <a (click)="resetFields()" class="formLink">Back to login</a>
                </form>

                <form *ngIf="isPassordEmailSent">
                    <h2 class="formTitle">Check your inbox!</h2>
                    <p class="formText">
                        Follow the instructions in the email we just sent you to reset your password.
                    </p>
                    <br>
                    <a (click)="resetFields()" class="formLinkAlt">Back to login</a>
                </form>

                <form *ngIf="isSignUpSection" [formGroup]="signUpForm">
                    <h2 class="formTitle">Sign up</h2>
                    <br>
                    <input formControlName="firstName" type="text"  placeholder="First name" required pInputText /> 
                    <br>
                    <input formControlName="lastName" type="text"  placeholder="Last name" required pInputText /> 
                    <br>
                    <input formControlName="email" type="text"  placeholder="Email" required pInputText /> 
                    <br>
                    <input formControlName="password" type="text" placeholder="Password" required pInputText/>
                    <br>
                    <input formControlName="confirmPass" type="text" placeholder="Confirm password" required pInputText/>
                    <br>
                    <button pButton type="button" label="Sign up" (click)="verifySignUp()" class="fullButton ui-button-rounded"></button>
                    <br>
                    <a (click)="resetFields()" class="formLink">Already have an account?</a>
                </form>
            </div>
        </div>
    </div>
</div>
