<div class="mainBanner">
    <div class="bannerLogoContainer">
        <h4 class="logoText">
            <a href="/">AGORA</a>
        </h4>
    </div>
    <div class="bannerButtonContainer">
        <button pButton type="button" label="Login" [routerLink]="['/login']" class="bannerButton ui-button-rounded"></button>
        <button pButton type="button" label="Sign up" [routerLink]="['/signUp']" class="bannerButtonFull ui-button-rounded"></button>
    </div>
</div>

<div class = "loginInteract">

    <form *ngIf="isLoginSection" [formGroup]="loginForm">
        <br>
        <h2 class="formTitle">Login</h2>
        <br>
        <input formControlName="email" type="text"  placeholder="Email" required pInputText /> 
        <br>
        <input formControlName="password" type="password" placeholder="Password" required pInputText/>
        <br>
        <a class="formLink" (click)="forgotPassword()">Forgot password?</a>
        <br>
        <button style="margin-top: 15px" pButton type="button" [disabled]="loginForm.invalid" label="Login" (click)="verifyLogin()" class="outlineButton ui-button-rounded"></button>
        <br>
        <button pButton type="button" label="Sign up" onclick="location.href = '/signUp'" class="fullButton ui-button-rounded"></button>
        <br>
        <br>
    </form>
    
    <form *ngIf="isResetPassword" [formGroup]="forgotPasswordForm">
        <br>
        <h2 class="formTitle">Password reset</h2>
        <br>
        <p class="formText">
            Forgot your password? We have you covered! Enter your
            email and we’ll send you a link to reset it.
        </p>
        <br>
        <input formControlName="email" type="text"  placeholder="Email" pInputText /> 
        <br>
        <button style="margin-top: 15px" pButton type="button" label="Reset password" class="fullButton ui-button-rounded" (click)="forgotPasswordEmail()"></button>
        <br>
        <a style="float: none; margin-left: 5%" class="formLink" (click)="this.resetFields()">Back to login</a>
        <br>
        <br>
    </form>

    <form *ngIf="isPassordEmailSent">
        <br>
        <h2 class="formTitle">Email sent!</h2>
        <br>
        <p class="formText">
            Check your inbox for a link to reset your password.
        </p>
        <br>
        <div style="text-align: center">
            <a class="formLinkAlt" (click)="this.resetFields()">Back to login</a>
        </div>
        <br>
        <br>
    </form>

    <form *ngIf="isSignUpSection" [formGroup]="signUpForm">
        <br>
        <h2 class="formTitle">Create an account</h2>
        <br>
        <input formControlName="firstName" type="text"  placeholder="First name" pInputText /> 
        <br>
        <input formControlName="lastName" type="text"  placeholder="Last name" pInputText /> 
        <br>
        <input formControlName="email" type="text"  placeholder="Email" pInputText /> 
        <br>
        <input formControlName="password" type="password" pPassword placeholder="Password" pInputText />
        <br>
        <input formControlName="confirmPass" type="password" pPassword placeholder="Confirm password" pInputText />
        <br>
        <button pButton type="button" label="Sign up" (click)="verifySignUp()" class="fullButton ui-button-rounded"></button>
        <br>
        <a style="float: none; margin-left: 5%" class="formLink" (click)="this.resetFields()">Already have an account?</a>
        <br>
        <br>
    </form>

</div>
