<div class = "mainBanner">
<div class = "login">
<button pButton type="button" label="Login" class="ui-button-rounded" (click)="resetFields()"></button>

</div>
<hr noshade>
</div>

<div class = "loginInteract">

<form *ngIf="isLoginSection" [formGroup]="loginForm">
    <br>
    <input style="width:90%;" formControlName="email" type="text"  placeholder="Email" required pInputText /> 
    <br>
    <input style="width:90%;" formControlName="password" type="text" placeholder="Password" pInputText/>
    <br>
    <a style="padding-left: 5%;" (click)="forgotPassword()">Forgot Password?</a>

    <br>
    <button style="margin: auto; margin-top: 10px; display: block; width: 90%" pButton type="button" [disabled]="loginForm.invalid" label="Login" (click)="here()" class="ui-button-rounded" (click)="here()"></button>
    <br>
    <button style="margin: auto; display: block; width: 90%" pButton type="button" label="Sign Up" (click)="signUp()" class="ui-button-rounded"></button>
</form>

<form *ngIf="isResetPassword" [formGroup]="forgotPassForm">
    <h1 style="text-align: center; display:block;">Password reset</h1>
    <p style="text-align: center; display:block;">
        Forgot your password? We have you covered! Enter your
        email and we’ll send you an email with a link to reset it.</p>
    <br>
    <input style="width:90%;" formControlName="email" type="text"  placeholder="Email" pInputText /> 
    <br>
    <button style="margin: auto; display: block; width: 90%" pButton type="button" label="Reset Password" class="ui-button-rounded" (click)="here()"></button>
</form>

<form *ngIf="isSignUpSection" [formGroup]="signUpForm">
        <h1 style="text-align: center; display:block;">Create an Account</h1>
        <br>
        <input style="width:90%;" formControlName="name" type="text"  placeholder="Name" pInputText /> 
        <br>
        <input style="width:90%;" formControlName="email" type="text"  placeholder="Email" pInputText /> 
        <br>
        <input style="width:90%;" formControlName="password" type="text" placeholder="Password" pInputText />
        <br>
        <input style="width:90%;" formControlName="confirmPass" type="text" placeholder="Confirm Password" pInputText />
        <br>
        <button style="margin: auto; display: block; width: 90%" pButton type="button" label="Sign Up" (click)="here()" class="ui-button-rounded"></button>

</form>


</div>
