$primary-color: #E14C4C;
$primary-color-hover: #D23838;
$accent-color: #282828;
$border-color: #A9A9A9;
$main-font: "Georgia";
$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.authText {
    width: 50%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    float: left;
    background-color: $primary-color;
}

.textContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.logoText {
    font-family: $body-font;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-left: -10.5px; 
    background-color: $primary-color;
}

.loginInteract {
    float: right;
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}

.loginInteract form input {
    margin: auto;
    display: block;
    width: 90% !important;
    height: 40px !important;
}

.formTitle {
    text-align: center;
    font-family: $body-font;
    color: $accent-color;
}

.formText {
    text-align: center;
    font-family: $body-font;
    font-weight: lighter;
    display: block;
    margin: 0 10px 0 10px;
}

.formLink {
    color: $accent-color;
    font-family: $body-font;
    font-weight: lighter;
    float: right; 
    padding-right: 25px;
}

.formLink:hover {
    color: $accent-color;
    font-family: $body-font;
    font-weight: lighter;
    float: right; 
    padding-right: 25px;
    text-decoration: underline;
    cursor: pointer;
}

.formLinkAlt {
    color: $primary-color;
    font-family: $body-font !important;
    font-weight: lighter !important;
    text-align: center !important;
    padding-right: 25px !important;
}

.formLinkAlt:hover {
    color: $primary-color-hover;
    text-decoration: underline;
    cursor: pointer;
}

.outlineButton {
    margin: auto; 
    display: block; 
    width: 90%;
    border-radius: 20px !important;
    height: 40px;
    background: white !important;
    color: $primary-color !important;
    border-color: $primary-color !important;
}

.outlineButton:hover {
    color: $primary-color-hover !important;
    border-color: $primary-color-hover !important;
}

.fullButton {
    margin: auto; 
    display: block; 
    width: 90%;
    border-radius: 20px !important;
    height: 40px;
    background: $primary-color !important;
    border-style: none !important;
}

.fullButton:hover {
    background: $primary-color-hover !important;
    border-style: none !important;
}

.contentTitleText {
    font-family: $main-font;
    font-size: 48px;
    color: white;
}

.contextText {
    font-family: $body-font;
    font-size: 22px;
    font-weight: 300;
    color: white;
}
